body {
    background-color: black;
}
header {
    font-weight: bold;
    text-align: center;
    color: white;
}
p {
    text-align: center;
    color: white
}
h1 {
    text-align: center;
    color: white;
}
h2 {
    text-align: center;
    color: white;
}
h3 {
    text-align: center;
    color: white;
}
img {
    width: 270px;
    height: 150px;
    display: block;
    margin: auto;
}
.social {
    width: 50px;
    height: 50px;
    display: grid;
    margin: auto;
}
.layout {
    display: grid;
    margin:0 auto;
    grid-template-columns: 1fr 50px 50px 50px;
    gap: 20px;
}
.foot {
    color: gray;
    text-align: left;
}
@media (min-width: 768px){
    .lista_proyectos {
        display: flex;
        justify-content: space-around;
    }
    img {
        width: 520px;
        height: 300px;
    }
    .social {
        width: 100px;
        height: 100px;
    }
    .layout {
        grid-template-columns: 1fr 100px 100px 100px;
    }
}